body {
  background:rgb(40,40,40);
  color:white;
}

h1 {
	text-align:center;
	font-weight:bold;
}

p {
	font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 14px;
}

.thumbnail {
	font-family: sans-serif;
	text-align: center;
}

.centered-pills {  
    text-align: center;
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
.centered-pills a {
    float: left;
    background-color: #CC3300;
    color: #000000;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}
